body,
div,
form,
label,
input {
  padding: 0px;
  margin: 0px;
  display: block;
}
*,*::after, *::before{
  box-sizing: border-box;
}
.div-form {
  background: red;
  display: flex;
  width: 80%;
  margin:  0 auto;
  align-self: center;
  justify-content: center;

}
.form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.div-cliente {
  display: flex;
  margin-left: 20px;
}
input {
  margin-left: 10px;
}